<div class="screen-wrapper">
    <div class="body-piece">
        <img src="assets/placeholder.png" height="235" width="589">
        <form> 
            <mat-form-field appearance="fill">
                <mat-label>Usuario</mat-label>
                <input matInput placeholder="eg: Bob123">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Contraseña</mat-label>
                <input matInput type="password" placeholder="••••••••">
            </mat-form-field>
            <button type="button" mat-raised-button color="primary">Ingresar</button>
        </form>
        <mat-divider style="width: 100%;"></mat-divider>
        <div class="single-signs">
            <button mat-mini-fab color="white" aria-label="Example icon button with a filter list icon">
                <mat-icon>filter_list</mat-icon>
            </button>
            <button mat-mini-fab color="white" aria-label="Example icon button with a filter list icon">
                <mat-icon>filter_list</mat-icon>
            </button>
            <button mat-mini-fab color="white" aria-label="Example icon button with a filter list icon">
                <mat-icon>filter_list</mat-icon>
            </button>
        </div>
        <div>
            Eres nuevo? <button mat-button color="primary">Registrate</button>
        </div>
    </div>
</div>
